Repository BinaryStudioAcademy/bsa-2023-writorium: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:type, cd backend && npm run lint:js && npm run lint:type, cd frontend && npm run lint:css, cd frontend && npm run lint:js && npm run lint:type

wr-00: + github config files
  .github/CODEOWNERS
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: npm run lint:editor && npm run lint:fs

wr-00: * fix missleading joi validation error type
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/server-app.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/validation-error/validation-error.exception.ts
  shared/src/libs/types/server-error/detail.type.ts
  shared/src/libs/types/server-error/response.type.ts
  shared/src/libs/types/server-error/server-error.ts
  shared/src/libs/types/types.ts
  shared/src/libs/types/validation/error.type.ts
  shared/src/libs/types/validation/schema.type.ts
  shared/src/libs/types/validation/validation.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:type, cd backend && npm run lint:js && npm run lint:type

wr-00: + codeowners
  .eslintrc.yml
  .github/CODEOWNERS
  commitlint.config.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-03: + db mermaid schema
  readme.md
  tsconfig.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-17: + tooltip for eslint-plugin fault errors fixing
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-20: + react-toastify
  frontend/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-20: + notification message enum
  frontend/src/packages/notification/libs/enums/notification-message.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-20: + enums
  frontend/src/packages/notification/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-20: + notification type enum
  frontend/src/packages/notification/libs/enums/notification-type.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-20: + aAppNotification class
  frontend/src/packages/notification/notification-api.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-20: + notification instance
  frontend/src/packages/notification/notification.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-15: + basic header template
  frontend/src/assets/img/user-avatar.svg
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-16: + add clsx package
  frontend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-7: + user details migration
  backend/src/db/migrations/20230821120000_create_user_details_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:type

wr-7: * update migration / comment files table part
  backend/src/db/migrations/20230821120000_create_user_details_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:type

wr-16: + download fonts
  frontend/public/fonts/Lato-Bold.woff
  frontend/public/fonts/Lato-Bold.woff2
  frontend/public/fonts/Lato-Regular.woff
  frontend/public/fonts/Lato-Regular.woff2
  frontend/public/fonts/LibreBaskerville-Bold.woff
  frontend/public/fonts/LibreBaskerville-Bold.woff2
Due: npm run lint:editor && npm run lint:fs

wr-16: + declare fonts
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/styles.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css

wr-16: + add helper wrapper over clsx
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.ts
  frontend/src/libs/helpers/helpers.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-16: + add background images
  frontend/src/assets/img/background-leters.png
  frontend/src/assets/img/background-typewriter.jpg
Due: npm run lint:editor && npm run lint:fs

wr-16: + add className property, default styles to Link component
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css, cd frontend && npm run lint:js && npm run lint:type

wr-15: + profile route to the app route enum
  frontend/src/libs/enums/app-route.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-5: + find and findByEmail methods in user repository
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:type

wr-9: + access token creation logic
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/helpers/token/token-helper.ts
  backend/src/packages/users/user.service.ts
  package-lock.json
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:type, cd backend && npm run lint:js && npm run lint:type

wr-22: + typescript scss modules plugin
  frontend/package.json
  frontend/tsconfig.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

wr-11: + ProtectedRoute
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-11: + shared type UserAuthResponseDto
  frontend/src/libs/components/components.ts
  frontend/src/packages/auth/auth.ts
  frontend/src/packages/auth/libs/types/types.ts
  frontend/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/auth/auth.ts
  shared/src/packages/auth/libs/types/types.ts
  shared/src/packages/auth/libs/types/user-auth-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:type, cd frontend && npm run lint:js && npm run lint:type

development: * fix ci action config
  .github/workflows/ci.yml
Due: npm run lint:editor && npm run lint:fs

wr-8: + base layout for auth pages
  frontend/src/assets/img/hero-background-image.png
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  frontend/src/pages/auth/components/auth-layout/libs/types/floating-letter.type.ts
  frontend/src/pages/auth/components/auth-layout/libs/types/types.ts
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/auth/components/components.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css, cd frontend && npm run lint:js && npm run lint:type

wr-01: * fix ci action config
  .github/workflows/ci.yml
Due: npm run lint:editor && npm run lint:fs

wr-7: + user and user_detail models
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:type

wr-7: + hash passwords
  backend/src/packages/users/user.service.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:type

wr-16: + add useMousePosition hook
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-mouse-position/use-mouse-position.hook.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-16: + add css variables
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css

wr-16: * add general project font
  frontend/src/assets/css/scaffolding.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css

wr-16: + implement landing page with parallax
  frontend/src/index.tsx
  frontend/src/pages/landing/landing.module.scss
  frontend/src/pages/landing/landing.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css, cd frontend && npm run lint:js && npm run lint:type

wr-16: * clean app
  frontend/src/libs/components/app/app.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:type

wr-16: * rename font files to lowercase
  frontend/public/fonts/lato-bold.woff
  frontend/public/fonts/lato-bold.woff2
  frontend/public/fonts/lato-regular.woff
  frontend/public/fonts/lato-regular.woff2
  frontend/public/fonts/libre-baskerville-bold.woff
  frontend/public/fonts/libre-baskerville-bold.woff2
  frontend/src/assets/css/fonts.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:css

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:type: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:type: any of: backend/**/*.ts
  cd frontend && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:type: any of: frontend/**/*.{ts,tsx}
